{% extends 'layout/default.html' %}
{% load custom_filters %}

{% block title %}
Подписка на тему
{% endblock title %} 

{% block content %} 
<section class="tables">
    {% if is_user_already_subscribed %}
    <div class="page-header">
        <div class=row><h1 class="page-title">Вы подписаны на обновления темы: {{ category }}</h1></div>   
        <div class=row><h3 class="page-title small text-muted">{{ time_now|date:'M d Y' }}</h3></div> 
    </div>

    {% else %}

    <div class="page-header">
        <div class=row><h1 class="page-title">Вы хотите подписаться на обновления темы: {{ category }}?</h1></div>   
        <div class=row><h3 class="page-title small text-muted">{{ time_now|date:'M d Y' }}</h3></div> 
    </div>


    <div class=row>
        <form method="POST">
            {% csrf_token %}

            {{ form }}

            <button class="btn btn-primary btn-success" type="submit">Хочу</button>

        </form>
        <form action="/news/">
            <button class ="btn btn-danger">Не хочу</button>
        </form>

    </div> 
    {% endif %}
</section>
{% endblock content %}  